# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Bahubali Jain (bpjain2004)
# Chiman Jain (chimanjain)
# Nitesh Rewatkar (nitesh3108)
# Prasanna Muthukumaraswamy (prablr79)
# Sakshi Makkar (Sakshi-dell)
# Shefali Malhotra (shefali-malhotra)
# Meghana GM (meggm)
# Harish H (HarishH-DELL)

# for all files:
* @bpjain2004 @chimanjain @nitesh3108 @prablr79 @Sakshi-dell @shefali-malhotra @meggm @HarishH-DELL
