# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Akshay Saini (AkshaySainiDell)
# Bahubali Jain (bpjain2004)
# Chiman Jain (chimanjain)
# Don Khan (donatwork)
# Harish H (HarishH-DELL)
# Meghana GM (meggm)
# Nitesh Rewatkar (nitesh3108)
# Prasanna Muthukumaraswamy (prablr79)
# Rajkumar Palani (rajkumar-palani)
# Santhosh Lakshmanan (santhoshatdell)
# Shefali Malhotra (shefali-malhotra)

# for all files:
* @AkshaySainiDell @bpjain2004 @chimanjain @donatwork @HarishH-DELL @meggm @nitesh3108 @prablr79 @rajkumar-palani @santhoshatdell @shefali-malhotra
